<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List User</title>
</head>
<body>
    <h1 th:text="${title}"></h1>
    <p th:if="${users.isEmpty()}">lista de usuarios no tiene elementos</p>
   <table th:if="${not users.isEmpty()}">
    <thead>
        <tr>
            <th>name</th>
            <th>lastname</th>
            <th>email</th>
        </tr>
    </thead>
        <tbody >
            <tr th:each="user: ${users}">
                <td th:text="${user.name}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:if="${user.email}" th:text="${user.email}"></td>
              
            </tr>
        </tbody>
   </table>
</body>
</html>